

<div
class="w3-block w3-round w3-padding customer-item w3-display-container {{ customer.selected? 'w3-light-gray' : 'w3-white' }}"
(mouseover)="mouseHover($event)"
style="margin-bottom: 3px;" >
  <div class="media w3-display-container" style="width: 90%" >
    <div class="media-left">
      <a href="#">

        <button
        class="w3-circle avatar w3-xxlarge btn {{ color }}"
        style="background-size: cover;"
        [style.backgroundImage]="'url('+customer.image+')'"  >
          <span *ngIf="!customer.selected" >{{ customer.name.substring(0,1) }}</span>
          <span *ngIf="customer.selected" >
            <mat-checkbox [(ngModel)]="customer.selected" ></mat-checkbox>
          </span>
        </button>
      </a>
    </div>
    <div class="media-body w3-display-container">
      <div class="media-heading w3-large">{{ customer.name }}</div>
      <a href="#" (click)="toggleMoreDetail()" class="w3-text-teal" >
        <b class="w3-text-blue" >{{ customer.category? customer.category.name : "" }}</b>
      </a>

      <br>
      <div class="w3-block more-detail w3-padding" #moreDetail >
        <ul class="w3-ul" >
          <li *ngIf="customer.phone" >
            <b><i class="fa fa-phone w3-text-teal" ></i> {{ customer.phone }}</b>
          </li>
          <li *ngIf="customer.whatsapp" >
            <b><i class="fa fa-whatsapp w3-text-teal" ></i> {{ customer.whatsapp }}</b>
          </li>
          <li *ngIf="customer.email" >
            <b><i class="fa fa-envelope w3-text-teal" ></i> {{ customer.email }}</b>
          </li>
          <li  >
            <button class="fa fa-edit mini-avatar shadow btn w3-orange" (click)="edit()" ></button>
            <button class="fa fa-trash mini-avatar shadow btn w3-red" (click)="destroy(customer, null, reload)" ></button>
          </li>
        </ul>
      </div>
    </div>

    <div class="w3-display-topleft">

      <button *ngIf="customer.whatsapp" (click)="sendWhatsapp()" class="fa fa-whatsapp xmini-avatar shadow btn w3-green"></button>

      <button *ngIf="customer.phone" (click)="call()" class="fa fa-phone xmini-avatar shadow btn w3-teal"></button>

    </div>
  </div>

  <div class="w3-display-topleft w3-padding">
    <div id="qrcode{{ customer.id }}" style="display: none;" ></div>
    <i class="fa fa-qrcode w3-xxlarge w3-text-teal btn"></i>
  </div>
</div>


<app-customer-add [reload]="reload" [customers]="[customer]" [categories]="categories" [status]="status"  ></app-customer-add>

<app-send-whatsapp-message [customer]="customer" [messages]="messages" ></app-send-whatsapp-message>
