<div class="row feature">
  Features And Benefits
</div>
<br>
<div class="container">
  <div class="row w3-center">
      <div class="col-md-3">
         <p>
           <img class="img " style="max-width: 100px" src="../../../assets/images/track&trace.png">
         </p>
        <h3>Track & Trace</h3>
        <p>Allow customers to track order
          status and find accurate ETA.</p>
      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/moretrack.png">
        </p>
        <h3>More Track</h3>
        <p>
          Allow customers to track Shipment
          in Other Website
        </p>

      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/printshipment.png">
        </p>
        <h3>Print Shipment</h3>
        <p>
          Print One Shipment Or more Than
          One
        </p>
      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/mobileapp.png">
        </p>
        <h3>Mobile App</h3>
        <p>
          Ease of use
          Smooth and easy-to-use for Couriers
          Built In Easy Tools
        </p>
      </div>

    <div class="col-md-3">
      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/dashboard.png">
      </p>
      <h3>Dashboard</h3>
      <p class="text-center">
        Manage All Your Shipment And
        Tracking It
      </p>
    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/role.png">
      </p>
      <h3>Role & Permissions</h3>
      <p class="text-center">
        Create Your Own Roles And Give
        Each Role Any Permissions
      </p>

    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/report.png">
      </p>
      <h3>Business Report</h3>
      <p class="text-center">
        Manage Your Business With More
        Than 20+ Report
      </p>
    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/mange.png">
      </p>
      <h4>Manage Your Accounting</h4>
      <p class="text-center">
        Easy To Manage Shipment
        Accounting And All Company
        Expenses
      </p>
    </div>
  </div>

  <div class="row w3-center">
    <div class="col-md-3"></div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/mail.png">
      </p>
      <h3>Mailbox</h3>
      <p class="text-center">
        Send Email To Your Customer with
        Mailbox in Dashboard
      </p>

    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/pickup.png">
      </p>
      <h3>Pickup Request</h3>
      <p class="text-center">
        Customer Can Send Pickup To You
        Via Web Site Form
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <a href="#" class="button">
    <span class="button-text">Get Start Now</span>
  </a>

</div>
