/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

body {
  background-color: #fafafa;
}

*, .font {
  font-family: 'Tajawal', sans-serif;
}

.shadow {

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mini-avatar {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5em;
  margin: 5px;
}

.xmini-avatar {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5em;
  margin: 5px;
}
